RewriteEngine On
# Nếu truy cập file hoặc thư mục tồn tại, thì không rewrite
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
# Tất cả request không khớp sẽ chuyển về index.html
RewriteRule .* index.html [L]
